/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
 @import 'bootstrap-sprockets';
 @import 'bootstrap';
 
 
// Main Headers
h1, h2, h3{
    font-family: 'Open Sans', sans-serif
}


.nav, .home-callout{
    background: #7F7FD5;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

// Header Text saying "Welcome to DevMatch.....entrepreneurs can meet devs"
.home-callout{
    color:white;
    margin-top: 0px;
    padding-top: 50px;
    padding-bottom: 50px;
}

// Navbar Color(div)
.outer-navbar-sides{

    background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
}

// making the nav color blend with the bg Navbar Color(div)
.nav{

    background:transparent;

}


// cursor hover
.nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background-color: transparent;
    border-radius: 20px;
    opacity: 0.35;
    border-color: transparent;
}