<!DOCTYPE html>
<html>
  <head>
    <title>Saasapp</title>
    <%= csrf_meta_tags %>
    <link href="//fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class = "outer-navbar-sides">
      <div class='container'>
        <ul class=" nav nav-tabs">
          <li><a href="/">Home</a></li>
          
          <li><a href="/about">About</a></li>
        </ul>
      </div>
    </div>
    
    
    

    <%= yield %>

  </body>
</html>
